<div class="mt-5 p-5">
  <div class="container mt-5">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">From</th>
          <th scope="col">Email</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.message %></td>
            <td><%= contact.created_at.to_formatted_s(:long) %></td>
            <td>
              <%= link_to contact_path(contact), method: :delete, data: { confirm: "Are you sure you would like to delete"}, :class => "no-link"  do %>
                <%= image_tag asset_pack_path('media/images/icon-delete.svg') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% if @contacts.length == 0 %>
    <h5 class="text-center mt-5">You have no messages...</h5>
  <% end%>
  </div>
</div>
